/* --- 01 TYPEGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* --- 07 WHITESPACE

- SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

   */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(50%, 0.5rem + 1vw, 70%);
}

body {
  font-family: "Outfit", "Young Serif", sans-serif;
  background-color: hsl(30, 54%, 90%);
}

li {
  font-size: 1.4rem;
  padding-left: 1.6rem;
  margin-bottom: 0.8rem;
  line-height: 1.7;
  color: #495057;
  font-weight: 400;
}

li:last-child {
  margin-bottom: 0;
}

.li-left {
  padding-left: 2rem;
}

ul {
  list-style-type: square;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #495057;
  line-height: 1.6;
}

.title-bottom h2 {
  margin-bottom: 2.4rem;
}

.title-brown h2 {
  font-family: "Young serif";
  letter-spacing: -1px;
  color: hsl(14, 45%, 36%);
}

.title-brown li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}

hr {
  border: none;
  border-top: 1px solid #dee2e6;
  opacity: 0.5;
}

.container {
  max-width: 72rem;
  margin: 8rem auto;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* background-color: hsl(30, 54%, 90%); */
}

.omelette-recipe {
  padding: 3.2rem 3.2rem 1.6rem 3.2rem;
  background-color: #f8f9fa;
  border-radius: 10px;

  margin-bottom: 2.4rem;
}

.text-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.omelette-pic {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 2.4rem;
}

.omelette-intro h1 {
  font-family: "Young serif";
  font-size: 4.4rem;
  font-weight: 400;
  letter-spacing: -1.5px;
  line-height: 1;
  margin-bottom: 2.4rem;
}

.preparation-time {
  background-color: hsl(330, 100%, 98%);
  padding: 2.4rem 2rem;
  border-radius: 8px;
}

.preparation-time h2 {
  font-size: 1.8rem;
  letter-spacing: -0.5px;
  font-weight: 500;
  margin-bottom: 1.6rem;
  color: hsl(332, 51%, 32%);
}

.preparation-time li::marker {
  color: hsl(332, 51%, 32%);
}

.nutrition p {
  margin-bottom: 1.2rem;
}

.nutrition-detail {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.nutrition-detail tr {
  border-bottom: 1px solid #dee2e6;
}

.nutrition-detail tr:last-child {
  border-bottom: none;
}

.nutrition-detail td {
  padding: 1.2rem 2.4rem;
  color: hsl(14, 45%, 36%);
  font-size: 600;
}

.nutrition-detail th {
  padding: 1.2rem 2.4rem;
  color: #495057;
  font-weight: 400;
}
